// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../pebbles/includes/lib';
@import '../../pebbles/components/card';
@import '../../hubs/sections';
@import '../../hubs/masthead';
@import 'components/newsletter';

/* -------------------------------------------------------------------------- */
// Common elements.

body {
    @include font-size(16px);
    @include open-sans;
}

main {
    h1, h2, h3, h4, h5, h6 {
        @include zilla-slab;
    }
}

/* -------------------------------------------------------------------------- */
// Download Firefox primary CTA (sticky on large viewports).

.download-firefox-primary-cta {
    margin-bottom: 30px;
    max-width: none;
    text-align: center;

    .card-logo {
        @include at2x('/media/img/logos/firefox/logo-quantum.png', 90px, 90px);
        @include image-replaced;
        height: 90px;
        margin: 0 auto 20px;
        width: 90px;
    }

    .card-logo,
    .card-title {
        @include open-sans;
    }

    .card-desc {
        max-width: 30em;
        margin: 0 auto 20px;
    }

    .card-content {
        border: 2px solid #f0f0f0;
        padding: 40px 10px;
    }

    .fx-privacy-link {

        a:link,
        a:visited {
            color: inherit;
        }
    }

    @media #{$mq-desktop} {
        text-align: left;
        margin-bottom: 0;

        .card-logo {
            margin: 0 0 20px;
        }

        .card-content {
            padding: 100px 25px;
        }

        .card-desc {
            max-width: none;
            margin: 0 0 20px;
        }
    }
}

/* -------------------------------------------------------------------------- */
// Intro lockup - large video, downlod firefox sticky & 2 smaller cards.

.intro {
    position: relative;

    @media #{$mq-desktop} {
        @include clearfix;

        .layout-card-hero {
            float: left;
            width: calc(100% - 430px);
        }

        .download-firefox-primary-cta {
            bottom: 30px;
            position: absolute;
            right: 0;
            top: 0;
            width: 400px;

            .card-content {
                left: 0;
                position: -webkit-sticky;
                position: sticky;
                top: 30px;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
// Pocket highlights section.

.pocket {
    background: #f5f5f5;
    margin: 20px 0;

    h2 {
        @include font-size(18px);
        @include open-sans;
        margin-bottom: 10px;
    }

    .tagline {
        color: #676767;

        a:link,
        a:visited {
            color: inherit;
        }

        a:hover,
        a:active,
        a:focus {
            color: #000;
        }
    }

    .card-title {
        @include open-sans;
    }

    @media #{$mq-tablet} {
        margin: 40px 0 60px;
        padding-top: 20px;
    }
}
